body{
    background-color: #94D9EA;   
    display: block;
    
}

.main{
    background-color: red;
    width: 80%;
    height: 100%;
    scroll-behavior: smooth;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: repeat(7, 1fr);
}

.left{
    grid-column: span 2;
    height: 100%;
    background-color: #00324A;
}
.left-section
{
    padding-left: 2rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
}
.profile
{
    
    width: 100%;
    text-align: center;
}
.img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #002333;
}

.name
{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.career {
    font-size: 1.2rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1 rem;
}
.title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    
    text-align: center;
}
.contact{
    padding-top: 1rem;
    align-items: center;
}
.contactElement
{
    width: 100%;
    /* background-color: red; */
    height: 1.5rem;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
}
.contactElementimg
{
    height: 100%;
    width: 18%;
    margin-right: 5%;
    
}
.map{
    width: 100%;
    height: 5rem;
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}
.mapimg{
    height: 50%;
    width: 40%;
    margin-right: 8%;
    
}
.links{
    color: rgb(116, 128, 148);
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    background-color: white;
    font-size:medium;
}
li{
    
	padding:8px 0 10px 60px;
	list-style: none;
	background: url("../assets/arrow.png") ;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    
    color: white;
    font-size: 1rem;
}